/* src/app/Components/output-view/output-view.component.css */

.square.rotate {
  transform: rotate(360deg); /* Rotación */
}

.square.red {
  background-color: rgb(196, 94, 94); /* Color rojo */
}

.square.small {
  transform: scale(0.5); /* Hacer pequeño */
}

.shape {
  margin: auto; /* Centrar */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s, background-color 1s; /* Transiciones para animaciones */
}

.square {
  width: 100px;
  height: 100px;
  background-color: rgb(84, 143, 96);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid rgb(84, 143, 96);
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(84, 143, 96);
}

.diamond {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid rgb(84, 143, 96);
  transform: rotate(45deg);
}

.happy {
  font-size: 40px;
}

.sad {
  font-size: 40px;
}

.dark-mode {
  background-color: black;
  color: white;
}