.output-container {
    width: 300px;
    height: 200px;
    border: 2px solid #000;
    padding: 10px;
    transition: transform 0.5s;
  }
  
.square {
    width: 80px;
    height: 80px;
    background-color: rgb(102, 153, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, transform 0.5s;
    margin: auto; /* Centrar el cuadro */
}

.rotate {
  animation: rotate 1s forwards;
}

.red {
  background-color: rgb(214, 115, 115); /* Color rojo al rotar */
}

.small {
  transform: scale(0.5); /* Hacer pequeño */
  transition: transform 0.5s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}