<div class="card">
  <h1 class="title">Sumativa</h1>
  <hr class="divider" />

  <div class="inputs-outputs">
      <div class="inputs">
        <strong>Correo</strong>
          <app-email [(value)]="email" (valueChange)="onEmailChange($event)"></app-email><br>
          <strong>Contraseña</strong>
          <app-contra [(value)]="password" (valueChange)="onPasswordChange($event)"></app-contra><br>
          <strong>Texto</strong><br>
          <app-texto [(value)]="text" (valueChange)="onTextChange($event)"></app-texto>
      </div>
      <div class="outputs">
        <br>
        <p><strong>Correo</strong> <br> {{ email }}</p>
        <br><br>
        <p><strong>Contraseña</strong> <br> {{ password }}</p>
        <br><br>
        <p><strong>Texto</strong> <br> {{ text }}</p>
      </div>
  </div>

  <hr class="divider" />

  <div class="shape-buttons">
      <div class="shape">
          <app-output-view #outputView></app-output-view>
      </div>
      <div class="buttons">
        <div class="button-group">
            <app-botonaceptar (acceptClick)="onAcceptClick()"></app-botonaceptar>
            <app-botoncancelar (cancelClick)="onCancelClick()"></app-botoncancelar>
        </div>
        <div class="button-group">
            <app-botonprimario (shapeChange)="onShapeChange()"></app-botonprimario>
            <app-botonsecundario (faceToggle)="onFaceToggle()"></app-botonsecundario>
        </div>
        <div class="dark-mode-button">
            <app-botonmodooscuro (darkModeToggle)="toggleDarkMode()"></app-botonmodooscuro>
        </div>
    </div>
  </div>
</div>
