<div class="card">
  <h1 class="title">Sumativa</h1>
  <hr class="divider" />

  <div class="inputs-outputs">
      <div class="inputs">
          <app-email [(value)]="email" (valueChange)="onEmailChange($event)"></app-email>
          <app-contra [(value)]="password" (valueChange)="onPasswordChange($event)"></app-contra>
          <app-texto [(value)]="text" (valueChange)="onTextChange($event)"></app-texto>
      </div>
      <div class="outputs">
        <p><strong>Correo</strong> <br> {{ email }}</p>

        <p><strong>Contraseña</strong> <br> {{ password }}</p>
      
        <p><strong>Texto</strong> <br> {{ text }}</p>
      </div>
  </div>

  <hr class="divider" />

  <div class="shape-buttons">
      <div class="shape">
          <app-output-view #outputView></app-output-view>
      </div>
      <div class="buttons">
          <app-botonaceptar (acceptClick)="onAcceptClick()"></app-botonaceptar>
          <app-botoncancelar (cancelClick)="onCancelClick()"></app-botoncancelar>
          <app-botonprimario (shapeChange)="onShapeChange()"></app-botonprimario>
          <app-botonsecundario (faceToggle)="onFaceToggle()"></app-botonsecundario>
          <app-botonmodooscuro (darkModeToggle)="toggleDarkMode()"></app-botonmodooscuro>
      </div>
  </div>
</div>
