.card {
    background-color: #b4d6f0; /* Color de fondo de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 20px;
    margin: 20px auto; /* Centrando el contenedor */
    max-width: 800px; /* Ancho máximo */
}

.title {
    font-family: 'Montserrat', sans-serif; /* Cambia a la fuente deseada */
    font-size: 24px; /* Tamaño de fuente para el título */
    margin: 0 0 10px; /* Espaciado inferior */
}

.divider {
    border: 1px solid #34608a; /* Línea divisoria */
    margin: 20px 0; /* Espaciado superior e inferior */
}

.inputs-outputs {
    display: flex; /* Usar flexbox para alinear inputs y outputs */
    justify-content: space-between; /* Espacio entre los elementos */
}

.inputs {
    flex: 1; /* Toma el espacio disponible */
    margin-right: 20px; /* Espaciado a la derecha */
}

.outputs {
    flex: 1; /* Toma el espacio disponible */
}

.shape-buttons {
    display: flex; /* Usar flexbox para alinear forma y botones */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente */
}

.shape {
    flex: 1; /* Toma el espacio disponible */
}

.buttons {
  display: flex; /* Usar flexbox para alinear grupos de botones */
  flex-direction: column; /* Colocar grupos en columna */
  gap: 10px; /* Espaciado entre grupos de botones */
  width: 50%; /* Ancho completo */
}

.button-group {
  display: flex; /* Usar flexbox para alinear botones en cada grupo */
  justify-content: center; /* Centrar los botones dentro del grupo */
  gap: 20px; /* Espaciado entre botones de cada grupo */
}

.dark-mode-button {
  margin-top: 10px; /* Espaciado superior para el botón de modo oscuro */
  text-align: center; /* Centrar el texto del botón */
}
