/* styles.css */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
.dark-mode {
  background-color: #333;
  color: #fff;
}
/* Asegúrate de que otros elementos también tengan estilos para modo oscuro */
body{
  font-family: Arial, Helvetica, sans-serif;
}