body.dark-mode {
  background-color: #333; /* Color de fondo oscuro */
  color: #fff; /* Color de texto claro */
}

body.dark-mode .shape {
  background-color: #555; /* Color de fondo para el div de forma */
}

body.dark-mode .triangle {
  border-left: 50px solid  #1e1e1e;
  border-right: 50px solid  #1e1e1e;
  border-bottom: 100px solid  #555;
}

body.dark-mode .circle {
  background-color: #555; /* Color de fondo para el div de forma */
}

body.dark-mode h1, 
body.dark-mode p {
  color: #fff; /* Asegúrate de que los textos se vean bien en modo oscuro */
}
body.dark-mode .card {
  background-color: #1e1e1e; /* Color de fondo para el contenedor "card" */
  border: 1px solid #333; /* Opcional: color de borde para el contenedor */
}


/* Estilos para los inputs */
input, textarea {
  width: 70%; /* Ancho completo */
  padding: 10px; /* Espaciado */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 10px; /* Espaciado inferior */
  transition: border-color 0.3s; /* Transición suave */
}

input:focus, textarea:focus {
  border-color: #6200ea; /* Color de borde al enfocar */
}

/* Otros estilos */
h1, h2, h3, p {
  margin: 0 0 10px; /* Espaciado inferior */
}

h1 {
  font-size: 24px; /* Tamaño de fuente para h1 */
}

h2 {
  font-size: 20px; /* Tamaño de fuente para h2 */
}
body {
  font-family: 'Playfair Display', sans-serif; /* Cambia a la fuente Montserrat */
  margin: 0;
  background-color: #f0f0f0; 
  padding: 0;
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}
button {
  font-size: 18px; /* Tamaño de fuente más grande para el botón */
  padding: 12px 20px; /* Espaciado más amplio */
}